.catalog{
    height: 350px;
    overflow: hidden;
    position: relative;
}
.catalog img {
    position: absolute;
    left: 50%;
    top: 50%;
     transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    min-height: 100%;
    width: auto;
    height: auto;
    min-width: 100%:;
}



.catalog_prod .prod_slider

{

    margin-bottom: 34px;

}



.catalog_prod .prod_slider .prod

{

    /*display: inline-block;*/    

}



.catalog_prod

{

    margin-top: 45px;

}



.catalog_menu h1

{

    font-family: Pf Bold;

    font-size: 25px;

    text-transform: uppercase;

}



.catalog_menu ul

{

    list-style-type: none;

    padding-left: 5px;

}



.catalog_menu ul li

{

    padding-left: 12px;

    font-size: 15px;

    text-transform: uppercase;   

    line-height: 36px;    

}



.catalog_menu ul li img

{

    padding-right: 10px;

    max-width: 30px;

    max-height: 20px;

}



.catalog_menu a

{

    color: #262728; 

    padding: 

}



.catalog_menu ul li:hover, .catalog_menu ul .active li

{

    background-color: #b71932;    

}



.catalog_menu a:hover, .catalog_menu ul .active

{

    color: #fff;

    text-decoration: none;

}



/* Пагинация */



.pag .pagination li a

{
    text-decoration: underline;
    border: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;

}



.pag .pagination .disabled span

{

    border: none;

}



.pag .pagination .active a, .pag .pagination .active a:hover, .pag .pagination li a:focus, .pag .pagination li a:hover

{

    background-color: transparent;

    border-color: transparent;

    border-radius: 0;

    color: #81c7b9;

    outline: none;

}



.pag .pagination a

{

    color: #161616;

}



@media screen and (max-width:991px)

{

    .catalog_menu

    {

        display: none;

    }        

}
@media(max-width: 767px){
    .catalog{
        display: none;
    }
}