.mobile-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    height: 60px;
    overflow: hidden;
    z-index: 200;
}
.mobile-header > * {
    height: 100%;
}
.mobile-header .left {
    float: left;
}
.mobile-header .left > a,
.mobile-header .right > a{
    font-size: 20px;
    line-height: 60px;
    width: 40px;
    text-align: center;
    height: 100%;
}
.mobile-header .left > a{
    float: left;
}
.mobile-header .right > a{
    float: right;
    position: relative;
}
.mobile-header .right > a > .quantity{
    position: absolute;
    color: white;
    border-radius: 20px;
    width: auto;
    min-width: 17px;
    line-height: 13px;
    left: auto;
    right: 2px;
    top: 16px;
    font-size: 10px;
    background-color: #b4e1d8;
}
.mobile-header .right > a:last-child > .quantity{
    background-color: #edbec8;
}
#search-toggle{
    font-size: 33px;
}
.mobile-header a > .icon{
    line-height: 60px;
    font-size: 33px;
}
.mobile-header .favorite > .icon{
    font-size: 28px;
}

.mobile-header .left > a.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: auto;
}
.mobile-header .logo img{
    height: 100%;
    width: auto;
}
.mobile-menu{
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: visible;
    overflow-y: scroll;
    width: auto;
    height: auto;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -moz-transition-delay: 0;
    -webkit-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
    -webkit-transform: translate3d(-120%, 0, 0);
    -moz-transform: translate3d(-120%, 0, 0);
    -o-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 16px;
    display: block;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    z-index: 200;
    border-right: 1px solid #f0f0f0;
}
   
.mobile-menu.open{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    right: 40px;
    padding-bottom: 30px;
}
.mobile-menu ul{
    padding-left: 0;
    border-right: 1px solid #f0f0f0;
}
.mobile-menu > ul > li{
    list-style: none;
}
.mobile-menu > ul > li > a{
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid #f0f0f0;
    padding: 12px;
    padding-left: 30px;
}
.mobile-menu .subcategory{
    padding: 10px 0;
}
.mobile-menu .subcategory ul{
    list-style: none;
    padding: 10px 30px;
}
.mobile-menu .subcategory ul > li > a{
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    line-height: 26px;
    position: relative;
}
.mobile-menu .subcategory ul > li > a:before{
    font-family: Other;
    content: "\e901";
    font-size: 41px;
    line-height: 8px;
    position: absolute;
    left: -15px;
    top: 11px;
}
.mobile-header .search{
    background-color: #fff;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
}
.mobile-header .search.open{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.mobile-header .search input{
    height: 50px;
    line-height: 60px;
    border: 1px solid #ededed;
    box-shadow: none;
    border-radius: 2px;
    width: 100%;
    padding-left: 15px;
    transition: .3s;
}
.mobile-header .search .btn{
    position: absolute;
    top: 2px;
    right: 49px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    border-radius: 3px;
}
#search-close{
    right: 2px;
}
.banner{
    margin-top: 20px;
}
.banner .item{
    position: relative;
    height: 450px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.banner .slick-slide{
    margin: 0;
}
.slick-arrow,
.owl-carousel .owl-next,
.owl-carousel .owl-prev{
    position: absolute;
    top: calc(50% - 15px);
    height: 30px;
    width: 30px;
    color: rgba(0, 0, 0, .5);
    z-index: 1;
    font-size: 30px;
    cursor: pointer;
}
.slick-arrow:hover,
.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover{
    color: rgba(0,0,0,.8);
}
.slick-arrow.next,
.owl-carousel .owl-next{
    right: -30px;
}
.slick-arrow.prev,
.owl-carousel .owl-prev{
    left: -30px;
}
.banner .slick-dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.banner .slick-dots > li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.banner .slick-dots > li *{
    display: none;
}
.banner .slick-dots > li.slick-active{
    width: 12px;
    height: 12px;
    margin: 0 2px;
    background-color: #fff;
}

.categories{
    margin-top: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  -webkit-justify-content: space-between;     
          justify-content: space-between;
           -ms-flex-align: space-between;

  -webkit-align-items: flex-start;     
          align-items: flex-start;

}
.categories .item{
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: #fff;
}
.categories .item .img{
    width: 100%;
    height: 480px;
    overflow: hidden;
    position: relative;
}
.categories .item .img img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    min-height: 100%;
}
.categories .item .content{
    padding: 20px;
    text-align: center;
}
.categories .item h4{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0.03em;
    margin-bottom: 18px;
}
.categories .item .desc{
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-weight: 400;
    margin-bottom: 6px;
}
.form_search,
.form_follow {
    position: relative;
    font-size: 14px;
}

.form_search .field-search-q{
    margin: 0;
}

.search_main,
.follow_main {
    height: 47px;
    border: 1px solid #ededed;
    box-shadow: none;
    border-radius: 2px;
    width: 100%;
    padding-left: 15px;
    transition: .3s;
}
.follow_main{
    border: 1px solid #222222;
}
.search_main:focus {
    border: 1px solid #81c7b9;
    transition: .3s;
}
.button_search,
.button-follow{
    font-size: 120%;
    height: 35px;
    position: absolute;
    right: 30px;
    top: calc(65% - 15px);
}

.button_search, .button_search:hover {
    border: 0;
    background-color: transparent;
}

.button_search:active {
    background-color: transparent;
    box-shadow: none;
    color: #989898;
    outline: 0;
}

.button_search:focus {
    outline: none !important;
    border: 0;
    background-color: transparent !important;
    color: #989898 !important;
}

.search_main:focus {
    outline: 0;
}

.search_main span:focus {
    outline: 0;
}

.inform_block {
    margin-top: 50px;
    margin-bottom: 88px;
}

.main_img {
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 291px;
}

.inform_block h1 {
    margin-top: 11px;
    margin-bottom: 30px;
    color: #272729;
    text-transform: uppercase;   
    font-size: 25px;
}

.inform_button {
    text-transform: uppercase;
    color: #b71932;
    border: 1px solid #b71932;
    background-color: transparent;
    padding: 14px 31px;
    font-size: 15px;
    line-height: 24px
}

.inform_button:hover {
    background-color: #b71932;
    color: #fff;
    text-decoration: none
}

.back_fon {
    margin-bottom: 44px
}

.back_fon .strip {
   position: relative;
   overflow: hidden;
   padding-top: 2px;
   text-align: center;
}
.back_fon .strip:before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 5px;
    background: url(../images/hr.png);
    background-size: contain;
}
.back_fon h2 {
    position: relative;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    padding: 0 20px;
}
.slick-slide {
    margin: 0 5px
}

.row_slider {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 62px
}

.prod_slider .prod {
    height: 400px;
    background-color: #f7f7f7
}

.prod_slider .prod .prod_label {
    background: linear-gradient(60deg, rgba(195, 154, 57,1), rgba(249, 209, 80, 1), rgba(195, 154, 57,1));
    border-radius: 0;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    font-size: 13px;
    font-weight: normal
}

.prod_slider .prod h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 9px 10px 0;
    font-size: 15px;
    min-height: 54px
}

.prod_slider .prod h3 a {
    color: #262728
}

.prod_slider .prod h3 a:hover {
    text-decoration: none
}

.prod_slider .prod img {
    margin: 0 auto 30px;
    max-height: 180px
}

.prod_slider .prod .prod_col1 {
    padding-left: 9px;
    padding-right: 2px
}

.prod_slider .prod .prod_col2 {
    text-align: right;
    padding-left: 9px;
    padding-right: 9px
}

.prod_slider .prod .prod_button {
    text-decoration: none;
    padding: 15px 25px;
    border: 1px solid #000;
    display: inline-block;
    margin: 13px 0 0 0;
    font-size: 15px;
    text-transform: uppercase
}

.prod_slider .prod .prod_button:hover {
    border: 1px solid #000;
    background-color: transparent;
    background: linear-gradient(60deg,  rgba(249, 209, 80, 1), rgba(195, 154, 57,1), rgba(249, 209, 80, 1), rgba(195, 154, 57,1));
}

.prod_slider .prod .prod_code, .prod_slider .prod .prod_old_price, .prod_slider .prod .prod_fav a {
    color: #747474
}

.prod_slider .prod .prod_new_price {
    color: #282828;
    font-size: 16px;
}

.prod_slider .prod .prod_old_price {
    text-decoration: line-through;
    font-size: 15px;
    margin-top: 15px
}

.prod_slider .prod .prod_old_price, .prod_slider .prod .prod_new_price {
    text-align: right
}

.prod_slider .prod .prod_code {
    font-size: 12px
}

.prod_slider .prod .prod_fav a {
    font-size: 11px;
    text-transform: uppercase
}

.prod_slider .prod .prod_fav a span {
    border-bottom: 1px dotted #747474
}

.prod_slider .prod .prod_fav a:hover {
    text-decoration: none;
    color: #b71932
}

.prod_slider .prod .prod_fav a span:hover {
    border-bottom: 0;
    color: #282828
}

.strip_back {
    background: url(../img/strip_back.png) repeat-x;
    height: 201px
}

.strip_back .container {
    height: 100%
}

.strip_back .strip_middle .row {
    border-left: 1px solid rgba(129, 129, 129, 0.5);
    border-right: 1px solid rgba(129, 129, 129, 0.5)
}

.strip_back .strip_block {
    margin-top: 60px;
    padding: 10px 0
}

.strip_back .strip_text {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;}

@media screen and (max-width: 1199px) {
    .prod_slider .prod .prod_button {
        padding: 15px 16px
    }

    .prod_slider .prod .prod_old_price {
        margin-top: 0
    }

    .prod_slider .prod img {
        margin: 0 auto 17px
    }
}

@media screen and (max-width: 991px) {
    .categories .item .img{
        height: 380px;
    }
    .strip_back .strip_block {
        margin-top: 12px
    }

    .strip_back .strip_text, .strip_back .strip_img_block, .inform_block h1, .main_img_block {
        text-align: center
    }

    .back_fon h2 {
        width: 35%
    }

}
@media screen and (max-width: 767px) {
    .mobile-header {
        background-color: #f7efef;
    }
    .prod_slider .prod .prod_button {
        padding: 6px 12px
    }

    .prod_slider .prod .prod_old_price, .prod_slider .prod .prod_new_price, .prod_slider .prod .prod_code {
        font-size: 90%
    }

    .back_fon h2 {
        width: 50%
    }
    .banner .item{
        height: 220px;
    }
    .categories .item .img{
        height: 300px;
    }
    .categories .item h4{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0px;
    }
    .categories .item .content{
        padding: 10px 0;
    }
}
@media screen and (max-width: 570px) {
    .strip_back .strip_text {
        font-size: 100%
    }
    .categories .item .img{
        height: 250px;
    }
}

@media screen and (max-width: 480px) {
    .prod_slider .prod .prod_button {
        padding: 15px 25px
    }

    .prod_slider .prod .prod_old_price, .prod_slider .prod .prod_new_price, .prod_slider .prod .prod_code {
        font-size: 110%
    }

    .back_fon h2 {
        width: 65%
    }

    .strip_back .strip_text {
        font-size: 95%
    }
    .categories .item .img{
        height: 200px;
    }
}

@media screen and (max-width: 360px) {
    .strip_back .strip_text {
        font-size: 80%
    }
    .categories .item .img{
        height: 180px;
    }
}

@media screen and (max-width: 331px) {
    .prod_slider .prod .prod_button {
        padding: 15px 20px
    }
}