
@font-face {
    font-family: 'icomoon';
    src: url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icomoon.eot?ajcm77');
    src: url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icomoon.eot?#iefixajcm77') format('embedded-opentype'), url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icomoon.woff?ajcm77') format('woff'), url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icomoon.ttf?ajcm77') format('truetype'), url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icomoon.svg?ajcm77#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icons';
    src: url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icons.eot?3ruto1');
    src: url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icons.eot?#iefix3ruto1') format('embedded-opentype'), url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icons.woff?3ruto1') format('woff'), url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icons.ttf?3ruto1') format('truetype'), url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icons.svg?3ruto1#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'benefits';
    src: url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/benefits.eot?w5xera');
    src: url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/benefits.eot?#iefixw5xera') format('embedded-opentype'), url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/benefits.woff?w5xera') format('woff'), url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/benefits.ttf?w5xera') format('truetype'), url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/benefits.svg?w5xera#benefits') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icons-font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-bnf-"], [class*=" icon-bnf-"] {
    font-family: 'benefits';
}


.a-toggle {
    border: 0;
}

.a-toggle i[class^="icon"] {
    display: inline-block;
    margin-top: -2px;
    margin-left: 3px;
    font-size: 10px;
}

@font-face {
    font-family: 'icons-font';
    src: url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icons-font.eot');
    src: url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icons-font.eot?#iefix') format('eot'), url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icons-font.woff') format('woff'), url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icons-font.ttf') format('truetype'), url('http://online.voronin.ua/themes/horoshop_default/layout/css/fonts/icons-font.svg#icons-font') format('svg');
}

.icon:before {
    font-family: 'icons-font';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.icon-arrow-left2:before {
    content: "\E001";
}

.icon-arrow-right2:before {
    content: "\E002";
}

.icon-arrowDown:before {
    content: "\E003";
}

.icon-arrowLeft:before, .carousel-btn.__prev:before, .slideCarousel-nav-btn.__slideLeft:before {
    content: "\E004";
}

.icon-arrowRight:before, .carousel-btn.__next:before, .slideCarousel-nav-btn.__slideRight:before {
    content: "\E005";
}

.icon-arrowUp:before {
    content: "\E006";
}

.icon-breadcrumbs-arrow:before {
    content: "\E007";
}

.icon-checkboxTick:before {
    content: "\E008";
}

.icon-cart-remove:before {
    content: "\E009";
}

.icon-cart:before {
    content: "\E00A";
}

.icon-clock:before {
    content: "\E00B";
}

.icon-comments:before {
    content: "\E00C";
}

.icon-contacts:before {
    content: "\E00D";
}

.icon-flag:before {
    content: "\E00E";
}

.icon-fb:before {
    content: "\E00F";
}

.icon-cross:before {
    content: "\E010";
}

.icon-creditCard:before {
    content: "\E011";
}

.icon-hand:before {
    content: "\E012";
}

.icon-heart:before {
    content: "\E013";
}

.icon-heart.__checked:before {
    content: "\E014";
}

.icon-hint:before {
    content: "\E015";
}

.icon-ig:before {
    content: "\E016";
}

.icon-location:before {
    content: "\E017";
}

.icon-plus:before {
    content: "\E018";
}

.icon-ok:before {
    content: "\E019";
}

.icon-playVideo:before, .gallery-thumb-a.__video:before {
    content: "\E01A";
}

.icon-speed:before {
    content: "\E01B";
}

.icon-tel:before {
    content: "\E01C";
}

.icon-starFull:before {
    content: "\E01D";
}

.icon-tick:before {
    content: "\E01E";
}

.icon-thumb:before {
    content: "\E01F";
}

.icon-tmGallery-arrRight:before {
    content: "\E020";
}

.icon-tmGallery-arrLeft:before {
    content: "\E021";
}

.icon-tw:before {
    content: "\E022";
}

.icon-tmGallery-close:before {
    content: "\E023";
}

.icon-view360:before, .gallery-thumb-a.__view360:before {
    content: "\E024";
}

.icon-yt:before {
    content: "\E025";
}

.icon-vk:before {
    content: "\E026";
}

.icon-minus:before {
    content: "\E027";
}

.icon-phone:before {
    content: "\E028";
}

.icon-arrow-right:before {
    content: "\E029";
}

.icon-dollar:before {
    content: "\E02A";
}

.icon-user:before {
    content: "\E02B";
}

.icon-consult:before {
    content: "\E02C";
}

.icon-arrowLeft-light:before {
    content: "\E02D";
}

.icon-arrowRight-light:before {
    content: "\E02E";
}

.icon-scales:before {
    content: "\E02F";
}

.icon-vk2:before {
    content: "\E030";
}

.icon-dev:before {
    content: "\E031";
}

.icon-search:before {
    content: "\E032";
}

.icon-download:before {
    content: "\E033";
}

.icon-car:before {
    content: "\E034";
}

.icon-toggle-arrow:before {
    content: "\E035";
}

.icon-skype:before {
    content: "\E036";
}

.icon-email:before {
    content: "\E037";
}

.icon-starEmpty:before {
    content: "\E038";
}

.icon-sort-list:before {
    content: "\E039";
}

.icon-sort-grid:before {
    content: "\E03A";
}

.icon-new:before {
    content: "\E03B";
}

.icon-gp:before {
    content: "\E03C";
}

.icon-mobile:before {
    content: "\E03D";
}

.icon-comments-fill:before {
    content: "\E03E";
}

.icon-avatar-def:before {
    content: "\E03F";
}

.icon-avatar-adm:before {
    content: "\E040";
}

.icon-mts:before {
    content: "\E041";
}

.icon-ks:before {
    content: "\E042";
}

.icon-life:before {
    content: "\E043";
}

.icon-circle:before {
    content: "\E044";
}

.icon-viber:before {
    content: "\E045";
}