@font-face {
    font-family: Pf Regular;
    src: url('../fonts/FuturaStd-Book.eot');
    src: url('../fonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaStd-Book.woff') format('woff'), url('../fonts/FuturaStd-Book.ttf') format('truetype'), url('../fonts/FuturaStd-Book.svg#Futura') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Pf Bold;
    src: url(../fonts/pfagorasanspro-bold.woff);
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url(../fonts/futurademic.otf);

   /* src: local('FuturaDemiC'), url('http://nomail.com.ua/files/woff/fa7892c650d8237d04043b1cf3cdc49f.woff') format('woff');*/
}

@font-face {
    font-family: Pf Italic;
    src: url(../fonts/pfagorasanspro-italic.woff);
}

@font-face {
    font-family: Pf Medium;
    src: url(../fonts/futuramediumc.otf);
   /* src:    url('http://nomail.com.ua/files/eot/363c763618808869720c6ca7b4059566.eot?#iefix') format('embedded-opentype'),
    url('http://nomail.com.ua/files/woff/363c763618808869720c6ca7b4059566.woff') format('woff'),
    url('http://nomail.com.ua/files/woff2/363c763618808869720c6ca7b4059566.woff2') format('woff2'); */
}
@font-face{
    font-family: Other;
    src: url(../fonts/other-icons.woff);
}
@font-face {
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GT-Walsheim-Pro-Regular.eot');
  src: url('../fonts/GT-Walsheim-Pro-Regular.woff') format('woff'), url('../fonts/GT-Walsheim-Pro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/GT-Walsheim-Pro-Bold.eot');
  src: url('../fonts/GT-Walsheim-Pro-Bold.woff') format('woff'), url('../fonts/GT-Walsheim-Pro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'GT Walsheim Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/GT-Walsheim-Pro-Regular-Oblique.eot');
  src: url('../fonts/GT-Walsheim-Pro-Regular-Oblique.woff') format('woff'), url('../fonts/GT-Walsheim-Pro-Regular-Oblique.ttf') format('truetype');
}
@font-face {
  font-family: 'GT Walsheim Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/GT-Walsheim-Pro-Bold-Oblique.eot');
  src: url('../fonts/GT-Walsheim-Pro-Bold-Oblique.woff') format('woff'), url('../fonts/GT-Walsheim-Pro-Bold-Oblique.ttf') format('truetype');
}

@font-face{font-family:icons;src:url(https://a.disquscdn.com/next/embed/assets/font/icons.c0cb35cce2bfd25bb49419ef3b1162a2.woff2) format("woff2"),url(https://a.disquscdn.com/next/embed/assets/font/icons.f9d27c7b07e2cc7219dbffa73ec371da.woff) format("woff");font-weight:400;font-style:normal}[class*=" icon-"]:before,[class^=icon-]:before{font-family:icons;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-allstar:before{content:"\f101"}.icon-arrow-2:before{content:"\25b3"}.icon-arrow-back:before{content:"\2770"}.icon-arrow-down:before{content:"\f102"}.icon-arrow-forward:before{content:"\2771"}.icon-arrow-up:before{content:"\f103"}.icon-arrow:before{content:"\25bd"}.icon-bell:before{content:"\2b26"}.icon-camera:before{content:"\233c"}.icon-cancel:before{content:"\2715"}.icon-checkmark:before{content:"\2714"}.icon-clock:before{content:"\23f2"}.icon-cog:before{content:"\2699"}.icon-comment:before{content:"\e603"}.icon-discovery:before{content:"\2604"}.icon-discussion:before{content:"\f104"}.icon-disqus:before{content:"\64"}.icon-expand-corners:before{content:"\2922"}.icon-expand:before{content:"\23cd"}.icon-export:before{content:"\2924"}.icon-facebook-circle:before{content:"\46"}.icon-facebook:before{content:"\66"}.icon-feed:before{content:"\72"}.icon-flag:before{content:"\2691"}.icon-forward:before{content:"\3e"}.icon-google-plus-circle:before{content:"\47"}.icon-google-plus:before{content:"\67"}.icon-images:before{content:"\26fa"}.icon-link:before{content:"\bb"}.icon-location:before{content:"\2351"}.icon-lock:before{content:"\1f512"}.icon-mail:before{content:"\2709"}.icon-map:before{content:"\25eb"}.icon-megaphone:before{content:"\e600"}.icon-minus:before{content:"\2d"}.icon-music:before{content:"\266b"}.icon-pause:before{content:"\268c"}.icon-pencil-large:before{content:"\270e"}.icon-pencil:before{content:"\270f"}.icon-photo:before{content:"\25f1"}.icon-pin:before{content:"\2199"}.icon-play:before{content:"\25ba"}.icon-plus:before{content:"\2b"}.icon-proceed:before{content:"\2192"}.icon-remove:before{content:"\2716"}.icon-reply-large:before{content:"\21a9"}.icon-reply:before{content:"\3c"}.icon-share:before{content:"\2945"}.icon-site-new:before{content:"\f106"}.icon-site:before{content:"\f107"}.icon-star:before{content:"\2605"}.icon-trophy:before{content:"\1f3c6"}.icon-twitter-circle:before{content:"\54"}.icon-twitter:before{content:"\74"}.icon-video:before{content:"\25b6"}.icon-warning:before{content:"\26a0"}.icon-write:before{content:"\29c4"}

.navbar-inverse { background: none !important; }
body {
    font-family: 'GT Walsheim Pro', sans-serif;
    color:#222;
    background: #fff;
}

.body {
    margin: 0;
    padding: 0;
}
.icon {
    font-weight: 400;
    font-family: Other;
    font-style: normal;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon.icon-heart:after {
    font-family: "Other";
    content: "\e912";
}
.icon.icon-shoppingbasket:after {
    font-family: "Other";
    content: "\e91a";
}
.icon.icon-search:after{
    font-family: "Other";
    content: "\e919";
}
.icon.icon-heart-broken:after {
    font-family: "Other";
    content: "\e90f";
}
.icon.icon-heart-small:after {
    font-family: Other;
    content: "\e911";
}
.icon.icon-heart-broken-small:after {
    font-family: Other;
    content: "\e90f";
}
.icon.icon-comments:after {
    font-family: "Other";
    content: "\e90d";
}
.icon.icon-heart-broken{
    font-size: 41px;
}
p strong{
    font-style: italic;
}

a,
a:focus{ 
    color: inherit; 
    transition: .5s;
    outline: none;
}
a:hover,

a:active,
a:active:focus{
    text-decoration: none;
    outline: none;
    color: #81c7b9;
    transition: .5s;
}

a.disabled {
    pointer-events: none !important; /* делаем ссылку некликабельной */
    cursor: default !important; /* устанавливаем курсор в виде стрелки */
    color: #000!important; /* цвет текста для нективной ссылки */
    background: #fff !important;
    border: 1px solid #999 !important;
}

.fancybox-inner{
   // height: 1000px!important;
   // width: 900px!important;
}
.breadcrumb { background: none !important; }
.clear {
    clear: both;
}

.static-menu {
    padding: 0;
    background-color: #f7efef;
}

.static-menu nav {
    border-radius: 0;
    margin-bottom: 0;
    min-height: 38px;
    border-width: 0;
}

.static-menu .navbar-inverse .navbar-nav > li {
    padding: 8px 0 5px;
}

.mob_cart {
    display: none;
}

.static-menu .navbar-inverse .navbar-nav li a {
    padding: 0 15px;
    font-size: 13px;
}

.static-menu .navbar-inverse .navbar-right .last {
    padding-right: 0;
}
.static-menu .navbar-inverse .navbar-nav > li > a:hover,
.static-menu .navbar-inverse .navbar-nav > li > a:focus,
.static-menu .navbar-inverse .navbar-nav > li > a:active{
    text-decoration: none;
    outline: none;
    color: #81c7b9;
}
.navbar-inverse .navbar-toggle.collapsed{
    background-color: #81c7b9;
}
.header {
    min-height: 80px;
    padding: 10px 0;
}
.search{
    padding-top: 33px;
}
.form_search .btn,
.form_follow .btn {
    outline: none;
    min-width: 0;
    min-height: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    top: 1px;
    right: 1px;
    position: absolute;
    padding: 0;
    background: #b4e1d8;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    border: 2px solid #b4e1d8;
}
.form_follow button{
    background-color: #222222;
    border-color: #222222;
    right: 1px;
}
.form_search button:hover,
.form_search button:focus,
.form_search button:active,
.form_search button:active:focus{
    outline: none;
    background-color: #81c7b9;
    border-color: #81c7b9;
    color: #fff;
}
.form_follow button:hover,
.form_follow button:focus,
.form_follow button:active,
.form_follow button:active:focus{
    background-color: #7a7a7a;
    border-color: #7a7a7a;
    color: #fff;
}
.header .time_header p, .header .contacts_header p, .header .search_header p {

    line-height: 24px;
    font-size: 15px;
}

.header .time_header, .header .contacts_header, .header .cart_header {
    padding-top: 31px;
}
.header .search_header{

}
.phones{
    padding-top: 32px;
    text-align: center;
   
}
.phones > a{
   display: block;
   font-size: 14px;
   letter-spacing: .07em;
   line-height: 24px;
}
.phones > i{
    font-size: 20px;
}
.header .logo_header img{
    width: 90%;
}
.contacts_header .col-xs-5 p span { white-space: nowrap; }

.cart_header .float_cart{
    position: relative;    
}
.cart_header .float_cart:after{
    content: '';
    display: block;
    clear: both;
}
.cart_header .favorite {
    display: block;
    /*position: absolute;
    left: -70px;
    top: 50%;
    transform: translate(-0, -50%);
    -ms-transform: translate(-0, -50%);
    -webkit-transform: translate(-0, -50%);
    -o-transform: translate(-0, -50%);
    -moz-transform: translate(-0, -50%);*/
    float: right;
    position: relative;
    margin-right: 10px;
}
.cart_header .favorite .quantity{
    display: block;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    font-size: 12px;
}

#k_count{   
    width: 44px; 
    height: 40px;
    text-align: center;
    background-repeat: no-repeat;
    margin: 0 5px;
}
.cart_header .info{
    float: right;
    width: calc(100% - 57px);
    font-weight: 600;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  -webkit-justify-content: flex-end;     
          justify-content: flex-end;
           -ms-flex-align: flex-end;

  -webkit-align-items: center;     
          align-items: center;

    border-left: 1px solid rgba(0,0,0,.15);
}
.cart_header .info span{
   display: inline-block;
}
.cart_header .info a {
    font-size: 15px;
}

.cart_header table tr:first-child td:first-child {
}

.cart_header table tr:nth-child(2) td:first-child {
    padding-left: 5px;
}

.main_menu{
    position: relative;
}
.main_menu.float{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    width: 100%;
    background-color: #fff;
    margin-top: 0;
}
.main_menu .nav > li{
    position: unset;
}
.subcategory{
    background-color: #fff;
    padding: 30px 0;
    height: auto;
}
.main_menu .subcategory{    
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;    
    z-index: 100;   
}
.subcategory .title{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 18px;    
    letter-spacing: .05em
}
.subcategory .title a{
    margin-left: 20px;
}
.subcategory a{
    position: relative;
    padding-left: 25px;
    letter-spacing: .05em;
}
.subcategory a:before{
    font-family: Other;
    content: "\e901";
    font-size: 41px;
    line-height: 8px;
    position: absolute;
    left: -15px;
    top: 6px;
}
.subcategory .title > a{    
    font-weight: normal;
}

.subcategory ul > li{
    list-style: none;
    margin-bottom: 10px;
}
.subcategory ul > li > a{

}
.text{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.text p{
    transition: height .5s ease;
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 30px 0;    
}
.text p.open{
    transition: height .5s ease;
    height: auto;    
}
.text a,
.text a:hover{
    text-decoration: underline;
}
.filter{
    padding: 6px 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.filter > .title{
    float: left;
    margin-right: 30px;
    font-weight: 700;
}
.filter > ul{
    display: block;
    padding: 0;
    margin: 0;
    
}
.filter > ul:after{
    display: block;
    content: '';
    clear: both;
}
.filter > ul > li{
    list-style: none;
    display: block;
    float: left;
    margin-right: 18px;
    position: relative;
}
.filter > ul > li > a{
    position: relative;
    padding-right: 30px;
    display: block;
}
.filter > ul > li.hasSub > a:after{
    position: absolute;
    font-style: normal;
    font-size: 41px !important;
    line-height: 41px;
    display: inline;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Other;
    content: "\e906";
    right: 0;
    top: -6px;
}
.filter ul > li > a:hover,
.filter ul > li > a:active:focus,
.filter ul > li > a:focus
{
    color: #edbec8;
}
.filter > ul > li.hasSub .float-sub{
    border-radius: 2px;
    border: 1px solid #ededed;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: none;
    background-color: #fff;
    height: auto;
    width: auto;
    padding: 8px 18px 24px 0px;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 40;
}
.filter > ul > li.hasSub .float-sub:after{
    content: '';
    display: block;
    clear: both;
    margin-right: 30px;
}
.filter > ul > li.hasSub .float-sub > ul{
    float: left;
    min-width: 200px;
}
.filter > ul > li.hasSub .float-sub > ul > li{
    list-style: none;
    padding-left: 25px;
}
.filter > ul > li.hasSub .float-sub > ul > li > a{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.main_menu, .main_menu .navbar-inverse {
    
}

.main_menu nav {
    border: none;
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0;
    margin-bottom: 0;

}
.main_menu .nav.navbar-nav{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  -webkit-justify-content: space-between;     
          justify-content: space-between;
           -ms-flex-align: space-between;

  -webkit-align-items: baseline;     
          align-items: baseline;
          width: 100%;
}
.main_menu .nav.navbar-nav:after,
.main_menu .nav.navbar-nav:before{
    display: none;
}
.navbar{
    min-height: 35px;
}
.main_menu .navbar-inverse .navbar-nav > li{
    border-color: #333333;
    position: unset;
    float: none;
}
.main_menu .navbar-inverse .navbar-nav li:hover > .subcategory{
    /*display: block;
    height: auto;
    transition: height .6s;    */
}
.main_menu .navbar-inverse .navbar-nav > li > a {
    color: inherit;
    text-transform: uppercase;;
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
}

.main_menu .navbar-inverse .navbar-nav li a span {
    padding-right: 0px;
}

.main_menu .navbar-inverse .navbar-nav li.active > a, 
.main_menu .navbar-inverse .navbar-nav li > a:hover,
.main_menu .navbar-inverse .navbar-nav > li > a:focus {
    color: #edbec8;
    transition: .5s;
    background-color: initial;
}
.main_menu .home_link span {
    font-size: 16px;
    color: #a81a30;
}

.main_menu .navbar-inverse .navbar-nav .home_link a {
    padding-left: 0;
    padding-right: 0;
}

.main_menu .navbar-inverse .navbar-nav .home_link a:hover {
    background-color: #2d2d2d;
}

.main_menu .navbar-inverse .navbar-nav .home_link a:hover span {

}

.nav > li > a{
    padding: 5px 12px;
   
}

.foot_bott {
    background-color: #f7efef;
    text-align: center;
    height: 40px;
}

.foot_bott p {
    padding-top: 10px;
}

.foot_top {
    padding-top: 45px;
    padding-bottom: 45px;
    border-top: 1px #000 solid;
    background-color: #f7efef;
}

.foot_top h4 {    
    background-color: #f7efef;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 15px;
}
.foot_top .title{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 12px;
}
.foot_top .inform_text{
    color: #222;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
}
.foot_top .inform_text > a{
    text-decoration: underline;
}

.foot_top .links ul > li,
.foot_top .info ul > li{
    font-size: 12px;
    line-height: 24px;
    list-style: none;
    letter-spacing: 0.03em;
}
.foot_top .links ul > li > a,
.foot_top .info ul > li > a{
    text-decoration: underline;
}

.foot_top .follow p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}
.foot_top .follow > a{
    font-weight: normal;
    text-decoration: underline;
    font-size: 16px;
}
.questions {
    background-color: #f7f7f7;
    padding-top: 20px;
    padding-bottom: 60px;
}

.questions textarea {
    height: 132px;
}

.questions input, .questions textarea {
    width: 100%;
    border-radius: 0;
    color: #afafaf;
}

.questions input {
    height: 47px;
}

.questions .q_title {
    color: #262827;
    font-size: 20px;
    margin-top: 31px;
    margin-left: 15px;

}

.questions .send_mess {
    text-align: right;
}

.questions button {
    background-color: #b71932;
    border: 1px solid #b71932;
    outline: none;
    width: 100%;
    padding: 12px;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 15px;
}

.questions button:hover {
    background-color: #f7f7f7;
    color: #b71932;
    border: 1px solid #b71932;
}
h1{
    margin: 0 0 30px 0;
    position: relative;
    text-align: center;
    font-size: 30px;
    line-height: 24px;
    text-transform: none;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.breadfon {
   margin: 0 auto;
}

.breadfon .breadcrumb {
    margin-bottom: 0;
    color: #000 !important;
    padding: 8px 0;
    text-align: center;
}
.breadcrumb > .active {
    color: #000 !important;
    font-size: 12px;
}
.breadfon .breadcrumb a {
    color: #000 !important;
    font-size: 12px;
    text-decoration: underline;
}

.oneproduct {
    padding-bottom: 25px;
}
.oneproduct h1{
    line-height: 36px;
    margin-bottom: 42px;
    text-align: left;
}
.goback {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-top: 25px;
    display: block;
}

.goback:hover {
}

.rowprod {
    margin-top: 25px;
}
.prodinfo{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.prodinfo h1 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 40px;
}

.prodinfo .label {
    background: linear-gradient(60deg,  rgba(195, 154, 57,1),  rgba(249, 209, 80, 1), rgba(195, 154, 57,1));
    font-size: 120%;
    border-radius: 0;
    display: inline-block;
    padding: 10px 12px;
}

.prodinfo .right {
    text-align: right;
}

.prodinfo hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.prodinfo .towish, .prodinfo .instock, .prodinfo .code {
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: 12px;
    line-height: 36px;
}

.prodinfo .towish {
    text-transform: uppercase;
}
.towish .remove{
    display: none;
}
..towish. .save{
    display: inline-block;
}
.towish.added .remove{
    display: inline;
}
.towish.added .save{
    display: none;
}
.prodinfo .instock i {
    font-size: 18px;
}

.prodinfo .instock .fa-check-circle {
    color: #449753;
}

.prodinfo .instock .fa-thimes {
    color: red;
}

.prodinfo .onecolor {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #bfbfbf;
    cursor: pointer;
    margin-right: 5px;
    float: left;
}

.prodinfo .onesize {
    display: block;
    min-width: 30px;
    height: 30px;
    border: 2px solid #000;
    cursor: pointer;
    margin-right: 5px;
    float: left;
    color: #707070;
    text-align: center;
    padding-top: 4px;
    font-size: 14px;
}

.prodinfo .onesize:hover {
    color: #fff;
    backgr
}

.prodinfo .title_sel {
    text-transform: uppercase;
    color: #404040;
    font-size: 17px;
    margin-bottom: 6px;
    display: block;
}

.prodinfo .size {
    margin-top: 30px;
    font-size: 18px;
}

.prodinfo .onecolor:hover {
    border: 3px solid #000;
}
.prodinfo .prices {
    line-height: 30px;
    letter-spacing: 0.03em;
    margin: 15px 0;
}
.prodinfo .price{
    font-size: 20px;    
    margin-right: 18px;
    padding-right: 18px;
}
.prodinfo .price.sale {
    
    color: #f01616;
}
.prodinfo .price.full {
    text-decoration: line-through;
    font-size: 14px;
    color: #222222;
}

.prodinfo .price:after{
    display: inline-block;
    font-size: 12px;
    color: #222222;
    content: "|";
    height: 12px;
    width: 1px;
    position: relative;
    right: -15px;
    bottom: 1px;
}

.purchase:before,
.purchase:after{
    content: '';
    display: block;
    clear: both;
}
.purchase .slct{
    max-width: 100%:;
    display: block;
    float: left;
    margin-bottom: 12px;
    height: 49px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    width: 230px;
    top: auto;
    left: auto;
    margin-right: 10px;
}
.purchase .slct:focus{
    outline: none;
}
.purchase .slct .list {
    display: none;
    background-color: white;
    border: 2px solid #b4e1d8;
    max-height: 320px;
    width: 100%;
    font-size: 12px;
    position: absolute;
    list-style: none;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
    transition: height 1s ease;
    height: 0;
    z-index: 1;
}
.slct .option {
    display: block;
    line-height: 19px;
    padding: 15px;
    font-size: 12px;
}
.slct .option:hover, .slct .option:focus {
    cursor: pointer;
    background-color: #b4e1d8;
}
.purchase .slct .list.open{
    display: block;
    transition: height 1s ease;
    height: auto;
}
.purchase .status{
    position: relative;
    background-color: #fff;
    border: 2px solid #b4e1d8;
    line-height: 19px;
    padding: 13px 60px 13px 13px;
    white-space: nowrap;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.purchase .slct.touch .icon, 
.purchase .slct .status .icon {
    pointer-events: none;
    z-index: 1;
    color: #b4e1d8;
    background-color: white;
    width: 47px;
    height: 30px;
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: -15px;
    border-left: 1px solid #b4e1d8;
}
.slct.touch .icon:after, 
.slct .status .icon:after {
    font-style: normal;
    font-size: 41px !important;
    line-height: 41px;
    display: inline;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Other;
    content: "\e905";
    top: -6px;
    position: relative;
}
.purchase .buy{
    display: block;
    float: left;
    margin-bottom: 12px;
    min-width: 187px;
    background: #b4e1d8;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #222222;
    border: 2px solid #b4e1d8;
    cursor: pointer;
    padding: 0;
    position: relative;
    text-align: center;
    min-height: 47px;
    font-size: inherit;
    line-height: 43px;
    font-family: inherit;
    text-decoration: none;
}
.purchase .buy:hover,
.purchase .buy:active,
.purchase .buy:focus,
.purchase .buy:active:focus{
    color: #222222;
    background-color: #81c7b9;
    border-color: #81c7b9;
    outline: none;
    text-decoration: none;
}

.product-actions{
    position: relative;
    margin-bottom: 36px;
    zoom: 1;
    
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.product-actions:after{
    content: '';
    clear: both;
    display: block;
}
.product-actions .action {
    float: left;
    min-height: 1px;
    display: block;
    margin-bottom: 6px;
}

.product-actions .action a{
    line-height: 45px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-size: 14px;
}
.product-actions .action a  i{
    float: left;
}
.product-properties{
    list-style: disc;
    margin-left: 20px;
    color: #7a7a7a;
    margin-bottom: 12px;
    padding: 0;
}
.description{
    margin-top: 18px;
    margin-bottom: 18px;
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    word-wrap: break-word;
}
.product-comment-form{
    color: #2a2e2e;
    font-family: "Helvetica Neue",arial,sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}
.product-comment-form .title{
    border-top: 2px solid #e7e9ee;
    border-bottom: 2px solid #e7e9ee;
    padding-top: 12px;
}
.product-comment-form .title:after,
.product-comment-form .title:before{
    display: block;
    content: '';
    clear: both;
}
.product-comment-form .title span{
    float: left;
    font-size: 15px;
    padding: 12px 0;
    margin-right: 15px;
    color: #222;
    font-weight: 700;
    position: relative;
}
.product-comment-form .title span:after{
    content: " ";
    display: block;
    height: 3px;
    background: #222;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
}
.actions{
    margin: 24px 0 0;
}
.actions > ul{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    list-style: none;
}
.actions ul:before,
.actions ul:after{
    display: block;
    content: '';
    clear: both;
}
.actions > ul > li{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.actions > ul > li a{
    width: auto;
    font-size: 13px;
}
.actions a,
.actions a:focus{
    position: relative;
    z-index: 100;
    margin-right: 0;
    color: #656c7a;
    text-decoration: none;
}
.actions a:hover{
    color: #000;
}
.actions .icon-heart:before{
    top: .18em;
    position: relative;
    content: "\f105";
}
.actions .icon-heart.red{
    color: #f05f70;
}
.actions .icon-export:before {
    position: relative;
    top: .31em;
    margin-right: -1px;
    line-height: 0;
    font-size: 19px;
}
.recommend,
.recommended,
.share {
    font-weight: 700;
    color: #656c7a;
    padding-right: 12px;
}
.thread-likes .label-count {
    position: relative;
    font-size: 11px;
    font-weight: 700;
    padding: 2px 5px 3px;
    background: #e7e9ee;
    color: #494e58;
    border-radius: 2px;
    margin-left: 2px;
    transition: all .2s ease-in-out;
}

.dropdown-menu {
    font-size: 13px;
    border: 2px solid #7f919e;
    border-radius: 3px;
    background: #fff;
    box-shadow: none;
    min-width: 130px;
    z-index: 1001;
    top: 20px;
}
.share-menu {
    float: left;
    margin-left: 15px;
    max-width: none;
    margin-top: 2px;
}
.share-menu ul{
    padding: 0;
}
.dropdown-menu {
    position: absolute;
    left: 0;
    float: left;
    display: none;
    max-width: 220px;
    padding: 4px 0;
    margin: 0;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 13px;
    border: 2px solid #7f919e;
    border-radius: 3px;
    background: #fff;
    box-shadow: none;
    min-width: 130px;
    z-index: 1001;
    top: 29px;
}
.dropdown-menu, ol, ul {
    list-style: none;
}
.dropdown-menu a {
    transition: none;
    color: #7f919e;
    padding: 4px 15px;
    position: relative;
    display: block;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
}
.dropdown-menu .active>a, .dropdown-menu .active>a:hover, .dropdown-menu li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #2e9fff;
}
.share-menu .share-menu__label {
    padding: 4px 15px;
    white-space: nowrap;
    color: #7f919e;
    font-size: 13px;
    position: relative;
    font-weight: 500;
}
.product-comment-form .form-control,
.product-comment-list .form-control{
    background: #fff;
    border: 2px solid #dbdfe4;
    position: relative;
    border-radius: 4px;
    margin: 0;
}
.product-comment-form .form-control:focus,
.product-comment-list .form-control:focus{
    outline: none;
    border-color: #c2c6cc;
    box-shadow: none;
}
.product-comment-form textarea,
.product-comment-list textarea{
    overflow: auto;
    word-wrap: break-word;
    display: block;
    padding: 6px 10px 8px;
    margin: 0;
    width: 100%;
    min-height: 44px;
    height: auto;
    line-height: 1.4;
    font-size: 14px;
    font-family: "Helvetica Neue",arial,sans-serif;
    transition: all .15s ease-in-out;
    resize: none;
}
.product-comment-form textarea.full,
.product-comment-list textarea.full{
    min-height: 80px;
}
.product-comment-form input[type="text"],
.product-comment-list input[type="text"] {
    display: none;
    background: #fff;
    border: 2px solid #dbdfe4;
    transition: all .2s linear;
    padding: 5px 9px;
    margin: 0;
    border-radius: 4px;
    font-size: 13px;
    height: 32px;
}
.product-comment-form input[type="text"]:focus,
.product-comment-list input[type="text"]:focus{
    outline: none;
    border-color: #c2c6cc;
    box-shadow: none;
}
.etalage_thumb_active{
    position: relative;
}
.proceed__button{
    display: none;
    float: right;
    height: 32px;
    padding: 9px 0;
    border: none;
    text-align: center;    
    padding: 10px 16px;
    color: #fff;
    line-height: 1.1;
    border-radius: 3px;
    font-weight: 500;
    transition: background .2s;
    text-shadow: none;
    margin-bottom: 0;
    font-size: 14px;
    background-color: rgba(29,47,58,.6);
}
.proceed__button:hover{
    border: none;
    background: #778289;
    background: rgba(29,47,58,.7);
}
.proceed__button > span{
    color: #fff;
}
.product-comment-list > ul > li{
    list-style: none;
    margin-bottom: 25px;
    border-bottom: 2px solid #e7e9ee;
}
.product-comment-list > ul > li:after,
.product-comment-list > ul > li{
    display: block;
    content: '';
    clear: both;
}
.comment-header {
    line-height: 1;
    font-size: 13px;
    padding-right: 46px;
    margin-bottom: 3px;
}
.comment-header:before,
.comment-header:after{
    display: block;
    content: '';
    clear: both;
}
.comment-header .author {
    color: #656c7a;
    font-weight: 700;
}
.comment-header .time{
    display: inline-block;
    color: #656c7a;
    font-weight: 500;
}
.bullet {
    padding: 0;
    color: #c2c6cc;
    line-height: 1.4;
}
.comment-body{
    font-size: 16px;
}
.comment-footer {
    color: #656c7a;
    margin: 4px 0 0;
}
.comment-footer > span{
    padding: 0;
    font-size: 13px;
    line-height: 15px;
}
.comment-footer .reply{
    padding: 2px 0;
}
.comment-footer .reply a:hover,
.comment-footer .comment__share a:hover{
    color: #000;
    cursor: pointer;
}
.comment-footer .reply.active{
    color: #2e9fff;
    font-weight: 700;
    text-decoration: none;
}
.comment__share{
    position: relative;
}
.comment-share__buttons{
    list-style: none;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
}
.comment__share:hover .comment-share__buttons{
    display: block;
    width: 100px;
    transition: all .5s ease;
    left: 100%;
    padding-left: 10px;
}
.comment-share__buttons > li{
    display: inline;
    padding-left: 8px;
    color: #7f919e;
    font-size: 16px;
}









.prod_soc {
    margin-top: 25px;
}

.prod_soc a {
    color: #afafaf;
    background-color: #f7f7f7;
    padding: 10px;
    cursor: pointer;
}

.prod_soc a:hover {
    background-color: #292a2c;
}

.proddesc {
    margin-bottom: 60px;
    margin-top: 50px;
}

.proddesc a {
    text-transform: uppercase;
    font-size: 18px;
}

.proddesc .desc {
    color: #919191;
    margin-top: 25px;
    font-size: 15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #262728;
    color: #c7c7c7;
}

.nav-tabs > li > a {
    background-color: #f7f7f7;
    color: #909090;
    font-size: 16px;
}

.prodinfo .strip_prod {
    margin-top: 55px;
    margin-bottom: 30px;
}

.prodinfo .strip_back {
    background: url(../img/strip_white.png) repeat;
    height: 91px;
}

.prodinfo .strip_back .strip_block {
    margin-top: 10px;
    padding: 10px 0;
    margin-left: 14px;
}

.prodinfo .strip_prod .strip_text {
    font-size: 11px;
    color: #262728;
    margin-top: 8px;
}

.prodinfo .strip_prod .strip_img {
    /*width: 185%;*/
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #999999 !important;
}

#thanks, #added, #thanksmain, #socmod {
    text-align: center;
    top: 20%;
}

#thanks .modal-content, #added .modal-content, #thanksmain .modal-content, #socmod .modal-content {
    border-radius: 0;
}

#thanks .mod1, #added .mod1, #thanksmain .mod1, #socmod .mod1 {
    font-size: 30px;
    color: #262728;
    margin-bottom: 0;
}

#thanks .mod2, #thanksmain .mod2, #socmod .mod2 {
    font-size: 24px;
}

#thanks .mod3, #thanksmain .mod3 {
    font-size: 17px;
    color: #808080;
}

#thanks .mod4, #thanksmain .mod4 {
    margin-top: 25px;
    font-size: 14px;
    color: #999;
}

#thanks .modbutt, #added .modbutt, #thanksmain .modbutt, #socmod .modbutt {
    text-transform: uppercase;
    display: block;
    margin-bottom: 12px;
    min-width: 187px;
    background: #b4e1d8;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #222222;
    border: 2px solid #b4e1d8;
    cursor: pointer;
    padding: 0;
    position: relative;
    text-align: center;
    min-height: 47px;
    font-size: inherit;
    line-height: 43px;
    font-family: inherit;
    text-decoration: none;
    margin: 0 auto;
}


#thanks .modbutt:hover, #added .modbutt:hover {
    color: #222222;
    background-color: #81c7b9;
    border-color: #81c7b9;
    outline: none;
    text-decoration: none;
}

.delivery table td {
    padding-right: 18px;
    width: 33%;
}

.delivery hr, .aboutus hr, .contacts_page hr {
    margin-top: -27px;
}

.delivery h1 span, .delivery h2 span, .aboutus h1 span, .aboutus h2 span, .delivery h1, .delivery h2, .aboutus h1, .aboutus h2 {
    background-color: #fff;
}

.aboutus {
    color: #050505;
}

.contacts_page {
    margin-top: 0px;
}

.contacts_page h2 {
    text-transform: uppercase;
    color: #262728;
    font-size: 20px;
    margin-top: 0;
}

.contacts_page h2 span {
}

.contacts_page h2 span .red {
    color: #a81a31;
}

.contacts_page .contact_text {

    font-size: 15px;
    color: #919191;
}

.contact_info {
    margin-left: 40px;
    margin-top: 40px;
}

.contact_strip {
    background: url(../img/strip.png) repeat-x;
}

.contact_strip h1 {
    text-transform: uppercase;
    font-size: 25px;
    background-color: #fff;
    width: 17%;
    text-align: center;
    margin: 0 auto 75px;
}

.contact_soc {
    margin-bottom: 50px;
}

#err_block {
    display: none;
    color: #b71932;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.littprodslider {
    display: none;
}

.bigprodslider {
    display: block;
    width: 100%;
}
.bigprodslider:after{
    display: block;
    content: '';
    clear: both;
}

.sliderbigprodnext {
    position: absolute;
    top: 50%;
    left: 101%;
    font-size: 21px;
    text-shadow: 0 0 10px #000;
    cursor: pointer;
    z-index: 30;
    height: 100%;
}

.sliderbigprodnext:hover, .slidebigprodprev:hover {
    text-shadow: 0 0 10px #999;
}

.slidebigprodprev {
    position: absolute;
    top: 50%;
    right: 101%;
    font-size: 21px;
    text-shadow: 0 0 10px #000;
    cursor: pointer;
    z-index: 30;
}


.indexTab{
    margin: 50px 0;
}

.navbar-toggle .icon-bar{

}

.navbar-toggle:hover .icon-bar{
 background-color: #fff !important;
}
.foot_top { border-top: none; position:relative; }
.foot_top:before { content: ''; position: absolute; top:0; left: 0; width: 100%; height: 1px; background: #000; }

.b-items { 
    width: 100%; 
    position: relative; 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  -webkit-justify-content: flex-start;     
          justify-content: flex-start;
           -ms-flex-align: flex-start;

  -webkit-align-items: flex-start;     
          align-items: flex-start;
}

.b-items-item {
    margin: 0 2% 30px 0; 
    background-color: #fff; 
    width: 23.5%;
    position: relative;
    overflow: hidden;
}
.b-items-item:nth-child(4n){
    margin: 0 0 30px 0;
}
.owl-carousel .b-items-item{
    width: 96%;
    margin: 0 auto;    
}
.discount{
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    background: #b4e1d8;
    right: 12px;
    top: 12px;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
}
.b-items-item .img{ 
    display: block;
    position: relative;    
    overflow: hidden; 
    width: 100%;
    max-height: 335px;
    
}
.b-items-item .img > img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: auto;
    min-width: 100%;
    height: 100%;
}

.b-items-bottom { 
    padding: 15px;
    width: 100%;   
    background-color: #fff;
    height: calc(100% - 335px);
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.03em;
    position: relative;
    text-align: center;
}

.b-items-bottom .prod_price:after{
    display: block;
    content: '';
    clear: both;
}
.b-items-bottom .prod_price .new{
    font-size: 15px;
    text-align: left;
    float: left;
    width: 49%;
    color: #d00000;
    padding-left: 10px;
}
.b-items-bottom .prod_old_price{
    display: block;
    text-align: right;
    float: left;
    width: 49%;
    padding-right: 10px;
}
.b-items-bottom .links{
    display: none;
    bottom: calc(100% + 10px);
    left: 10px;
    right: 10px;
    border-radius: 5px;
    border: 1px solid #81c7b9;
    background-color: #fff;
    position: absolute;
    z-index: 2;
}
.b-items-item:hover .links{
    display: block;
}
.b-items-bottom .links:after{
    content: '';
    display: block;
    clear: both;
}
.b-items-bottom .links a{
    display: block;
    width: 49%;
    float: left;
    text-align: center;
    font-size: 12px;
}
.b-items-bottom .links a.left{
    border-right: 1px solid #81c7b9;
}
.b-items-bottom .links a .icon{
    font-size: 30px;
    line-height: 30px;
    display: block;
}
.b-items-bottom .links a .icon.icon-heart{
    font-size: 25px;
}
.b-items-bottom .links a .icon.icon-heart-broken{
    font-size: 48px;
}

@media (max-width: 1199px) {

    .littprodslider {
        display: block;
    }

    .bigprodslider {
        display: none;
    }
}

@media (max-width: 991px) {
    .links{
        margin-top: 20px;
    }
    .prodinfo .strip_back {
        height: 120px;
    }
    .contact_strip h1 {
        width: 30%;
    }
    .prodinfo .label, .prodinfo h1 {
        margin-top: 35px;
    }
    .header .logo_header img{
        width: 40%;
        margin: 0 auto;
        display: block;
    }
    .header .time_header, .header .contacts_header, .header .cart_header{
        padding-top: 10px;
    }    
    .cart_header .info{
        width: auto;
        padding-left: 20px;
    }
    .phones{
        padding-top: 10px;
        clear: left;
    }
    .phones a{
        display: inline-block;
        margin-right: 30px;
        
        line-height: 47px;
    }
    
    .b-items-item,
    .b-items-item:nth-child(4n){
        width: 32%;
        margin: 0 2% 30px 0;
    }
    .b-items-item:nth-child(3n){
        margin: 0 0 30px 0;
    }
}


@media (max-width: 767px) {
    .header .logo_header, .header .time_header, .header .contacts_header, .header .search_header, .header .cart_header {
        text-align: center;
        padding-top: 12px;
    }

    .foot_top .first_block, .foot_top .second_block, .foot_top .last_block {
        min-height: auto;
        text-align: center;
    }

    .foot_soc div, .foot_soc .soc_title {
        padding-left: 0;
    }

    .questions .send_mess {
        text-align: left;
        padding-left: 29px;
    }

    .prodinfo .label {
        margin-bottom: 30px;
    }

    .main_menu .navbar-inverse .navbar-nav .home_link a {
        padding-left: 14px;
        text-align: center;
    }

    .main_menu .rightborder {
        border-right: none;
    }

    .static-menu .navbar-inverse .navbar-nav li a {
        border-right: none;
    }

    .contact_strip h1 {
        width: 50%;
    }
    .main_menu .navbar-inverse .navbar-nav li a{
        padding: 10px 0;
    }
    .static-menu .navbar-inverse .navbar-nav > li{
        text-align: center;
    }
    .overview .b-items-item{
        width: 90%;
    }
    .cart_header .info,
    .cart_header .favorite{
        float: none;
    }
    .cart_header .info{
        -webkit-justify-content: center;     
          justify-content: center;
           -ms-flex-align: center;
    }
    .foot_top .inform_text,
    .title{
        text-align: center;
    }
    .links > ul,
    .info > ul,
    .follow{
        text-align: center;
        padding: 0;
        margin-top: 10px;
    }
    .form_follow{
        width: 60%;
        margin: 0 auto;
    }
    .b-items-item,
    .b-items-item:nth-child(3n),
    .b-items-item:nth-child(4n){
        width: 49%;
        margin: 0 2% 30px 0;
    }    
    .b-items-item:nth-child(2n){
        margin: 0 0 30px;
    }
    .b-items-bottom,
    .b-items-bottom .title{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0;
        text-align: center;
        padding: 0;
    }
    .text{
        font-size: 12px;
        letter-spacing: 0;
        line-height: 18px;
    }
    .text p{
        padding: 0;
        margin: 0;
    }
    .text-collapse{
        height: 72px;        
    }
    .text-collapse:after{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        height: 70px;
        content: "";
        background-color: white 100%;
        background-repeat: repeat-x;
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) -35%, white 100%);
        background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) -35%, white 100%);
        background-image: -webkit-gradient(linear, top, rgba(255, 255, 255, 0) -35%, white 100%);
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) -35%, white 100%);
        background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) -35%, white 100%);
        background-image: linear-gradient(top, rgba(255, 255, 255, 0) -35%, white 100%);
        }
    .text a{
        display: none;
    }
    .breadfon{
        margin-top: 60px;
    }
    .breadfon .breadcrumb{
        display: none;
    }
    h1{
        margin-bottom: 11px;
        font-size: 22px;
        letter-spacing: 0;
    }
    .filter{
        border-top: none;
        border-bottom: none;
        margin-top: 0;
        font-size: 12px;
    }
    .filter i{
        display: inline-block!important;
        cursor: pointer;
    }
    .filter > .title{
        float: right;
        margin-right: 0;
    }
    .filter > ul.hidden-xs{
        position: absolute;
        z-index: 10;
    }
    .filter > ul{
        position: fixed;
        top: 60px;
        left: 40px;
        right: 0;
        bottom: 0;
        overflow: auto;
        overflow-x: visible;
        overflow-y: scroll;
        width: auto;
        height: auto;
        -ms-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 14px;
        line-height: 16px;
        display: block;
        -webkit-overflow-scrolling: touch;
        background-color: #fff;
        z-index: 199;
        border-left: 1px solid #f0f0f0;
    }
    .filter > ul > .fa-times{
        background-color: #edbec8;
        height: 40px;
        line-height: 40px;
        top: 60px;
        left: 0;
        position: fixed;
        width: 40px;
        text-align: center;
        display: block;
    }
    .filter > ul.hidden-xs > .fa-times{
        display: none;
    }
    .filter > ul > li{
        float: none;
        text-transform: uppercase;
        margin: 0;
        padding: 12px;
        padding-left: 30px;
        border-bottom: 1px solid #efefef;
    }
    .filter > ul > li.hasSub > a:after{
        display: none;
    }
    .filter > ul > li.hasSub .float-sub{
        padding: 15px 0;
        position: unset;
        border: none;
        max-width: 280px;
    }
    .filter > ul > li.hasSub .float-sub > ul{
        padding:0;
    }
    .filter > ul > li.hasSub .float-sub > ul > li{
        list-style: none;
        padding: 0;
    }
    .filter > ul > li.hasSub .float-sub > ul > li > a{
        text-transform: none;
        padding-left: 50px;
        position: relative;
    }
    .filter > ul > li.hasSub .float-sub > ul > li > a:before{
        font-family: Other;
        content: "\e901";
        font-size: 41px;
        line-height: 8px;
        position: absolute;
        left: -15px;
        top: 6px;
    }
    .b-items-bottom .prod_price{
        margin-top: 5px;
    }
    .b-items-bottom .prod_price .new{
        text-align: left;
        width: auto;
    }
    .purchase .slct,
    .purchase .buy{
        float: none;        
        margin: 0 auto 15px;
        max-width: 220px;
        width: 100%;
    }
    .purchase .slct{
        max-width: 100%;
    }
    .product-actions{
        margin-bottom: 10px;
    }
    .prodinfo .prices{
        margin: 0;
        line-height: 18px;
    }
    .prodinfo .price{
        display: block;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
    }
    .prodinfo .price.full{
        font-size: 14px;
    }
    .prodinfo .price:after{
        display: none;
    }
    .prodinfo h1 {
        margin-top: 10px;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 0;
        text-align: center;
    }
    .prodinfo .instock{
        display: block;
        margin: 0 auto;
        text-align: center;
        line-height: 24px;
    }
    .product-actions .action a{
        font-size: 12px;
        line-height: 35px;
    }
    .product-actions .action a .icon{
        line-height: 35px;
        font-size: 35px;
    }
    .description{
        line-height: 20px;
        font-size: 12px;
    }
    .fotorama__wrap{
        margin: 0 auto;
    }
}

@media (max-width: 583px) {
    .prodinfo .strip_back {
        height: 130px;
    }

    .prodinfo .strip_back .strip_block {
        padding: 10px 7px;
        margin-left: 0;
    }
    .subcategory > ul{
        width: 100%;
        padding-left: 30px;
    }
}

@media (max-width: 460px) {
	.b-items-bottom, .b-items-bottom .title{
		text-align: center;
	}
    .b-items-bottom .prod_price .new{
        width: 100%;
        text-align: center;

    }
    .b-items-bottom .prod_old_price{
        width: 100%;
        padding-right: 0;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .questions .q_title {
        margin-top: 8px;
    }

    .prodinfo .strip_back {
        height: 150px;
    }


}