.wish_h1

{

    text-transform: uppercase;

    font-family: Pf Bold;

    font-size: 25px;

    background-color: #fff;

    width: 20%;

    margin-top: 45px;

}



.wish_strip

{

    background: url(../img/strip.png) repeat-x;

}



.wish_h4

{

    font-size: 14px;

    font-family: Pf Medium;

}



.wish_block

{

    margin-top: 40px;

}



.wish_prod 

{

    height: 225px;

    background-color: #f7f7f7;

    position: relative;

    margin-bottom: 25px;

}



.wish_prod .wish_label

{

    background-color: #b61831;

    border-radius: 0;

    display: inline-block;

    font-size: 13px;

    font-weight: normal;

    position: absolute;

    right: 0;

    top: 10px;

}



.wish_prod .close

{

    position: absolute;

    right: 25px;

    top: 7px;

    color: #B61831;

}



.wish_prod .wish_left img

{

    margin: 25px 0 30px 20px;

    max-height: 180px;

    max-width: 125px;

}



.wish_prod .wish_right h3

{

    text-transform: uppercase;

    text-align: left;

    margin: 50px 15px 0 0;

    font-size: 15px;

    min-height: 47px;

}



.wish_prod .wish_right h3 a

{

    color: #262728;

}



.wish_prod .wish_right h3 a:hover

{

    text-decoration: none;

}



.wish_prod .wish_right .wish_code

{

    font-size: 12px;

    color: #747474;

}



.wish_prod .wish_right .wish_old_price

{

    text-decoration: line-through;

    font-size: 15px;

    font-family: Pf Medium;

    margin-top: 15px;   

    color: #747474;

}



.wish_prod .wish_right .wish_new_price

{

    color: #282828;

    font-size: 16px;

    font-family: Pf Medium;    

}



.wish_prod .wish_right .wb_block

{

    padding-left: 0;

}



.wish_prod .wish_right .wish_button

{

    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 12px;
    background: #b4e1d8;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #222222;
    border: 2px solid #b4e1d8;
    cursor: pointer;
    padding: 0 15px;
    position: relative;
    text-align: center;
    min-height: 47px;
    font-size: inherit;
    line-height: 43px;
    font-family: inherit;
    text-decoration: none;
    margin: 0 auto;

}



.wish_prod .wish_right .wish_button:hover

{

    color: #222222;
    background-color: #81c7b9;
    border-color: #81c7b9;
    outline: none;
    text-decoration: none;

}

.wish_left{
    position: relative;
}

@media screen and (max-width:991px)

{

    .wish_prod .wish_right .wish_button .fa

    {

        display: none !important;

    } 

      

}